@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap');
@font-face {
    font-family: Trumpit;
    display:swap;
    src: url("../fonts/Trumpit.otf") format("opentype");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
a {
    width: 100%;
    text-decoration: none;
    color: #000;
}
.section-title {
    font-size: 4rem;
    margin-bottom: 10px;
    letter-spacing: .5rem;
}
.section-title span {
    color: crimson;
    font-size: 4.1rem;
}

/* =================================================================== */

/* Preloader */
#loader-wrapper{
    width: 100vw;
    height: 100vh;
    background-color: #252328;
    position: fixed;
    z-index: 11999;
}
#preloader {
	position:relative;
    width: 80px;
    height: 80px;
    top: 45%;
    margin: 0 auto;
}
#preloader span {
	position:absolute;
	border: 8px solid white;
	border-top: 8px solid transparent;
	border-radius:999px;
}

#preloader span:nth-child(1){
	width:80px;
	height:80px;
	border: 8px solid crimson;
	border-top: 8px solid transparent;
	animation: spin-1 2s infinite linear;
}
#preloader span:nth-child(2){
	top: 20px;
	left: 20px;
	width:40px;
	height:40px;
	animation: spin-2 1s infinite linear;
}
/* End Loader */

/* =================================================================== */

/* Header */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .brand h1 {
    font-family: Trumpit, sans-serif;
    color: #fff;
    font-size: 2.8rem;
    transition: .5s ease-in color;
}
#header .brand h1 span{
    color: crimson;
    font-size: 2.9rem;
}
#header .brand h1:hover {
    color: crimson;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: .3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
    left: 200%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: .5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: .2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
    color: crimson;
    transition: .5s ease color;
}
#header .hamburger {
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid #fff;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(.8);
    margin-right: 20px;
}
#header .hamburger::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid #fff;
    animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
    height: 2px;
    width: 30px;
    position: relative;
    background-color: #fff;
    z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: #fff;
    transition: .5s ease;
    transition-property: top, bottom;
}
#header .hamburger .bar::after {
    top: 8px;
}
#header .hamburger .bar::before {
    bottom: 8px;
}
#header .hamburger.active .bar::before {
    bottom: 0;
}
#header .hamburger.active .bar::after {
    top: 0;
}
/* End Header */

/* =================================================================== */

/* Hero */
#hero {
    background: url('../img/img-1.jpg');
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
    min-height: 100vh;
}
#hero::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .4;
    z-index: -1;
}
#hero .hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#hero .hero-info {
    position: absolute;
    top: 20%;
}
#hero .hero-info-heading {
    font-family: Trumpit, sans-serif;
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: #fff;
    letter-spacing: .4rem;
    animation: fadeIn 1s ease backwards;
    transition: 1s ease all;
    animation-delay: 2.2s;
}
#hero .hero-info-subheading {
    display: block;
    width: fit-content;
    color: crimson;
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .6rem;
    animation: fadeIn 1s ease backwards;
    animation-delay: 2.5s;
    margin-bottom: 1rem;
    transition: .5s ease all;
}
#hero .hero-info-underline{
    /* display: block; */
    height: .4rem;
    max-width: 100%;
    margin: 1rem auto;
    background-color: crimson;
    border-radius: 10px;
    animation: fadeIn 1s ease backwards;
    animation-delay: 2.7s;
    transition: .5s ease all;
}
#hero .hero-info-button {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    width: 80%;
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: rgba(220, 20, 60, 0.9);
    border-radius: 30px;
    animation: moveInLeft 1s ease backwards;
    animation-delay: 2.9s;
    transition: .5s ease all;
}
#hero .hero-info-button:hover {
    color: crimson;
    background-color: #fff;
}
/* End Hero */

/* =================================================================== */

/* Menu */
#menu {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    transition: .3s ease all;
}
#menu .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: .3s ease transform;
}
#menu .menu-header {
    margin: 0 5rem;
}
#menu .menu-header-subheading {
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
    letter-spacing: .3rem;
}
#menu .menu-header-subheading span {
    color: crimson;
}
#menu .menu-info {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    flex-direction: column;
}
#menu .menu-info a {
    width: 100%;
    text-decoration: none;
    color: whitesmoke;
}
#menu .flip-card {
    width: 100%;
    min-height: 200px;
    position: relative;
    transition: .5s ease transform;
    position: relative;
    margin: 5px;
    perspective: 1000px;
}
#menu .flip-card-inner {
    position: absolute;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: .5s ease transform;
    display: block;
}
#menu .flip-card-front {
/* #menu .flip-card-back { */
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(60deg, rgba(220, 20, 60, 0.8), rgba(0, 0, 0, 0.8));
    padding: 10px;
}
#menu .menu-button:nth-child(1) .flip-card-front {
    background-image: url("../img/pizza.jpg");
    background-size: cover;
    position: relative;
}
#menu .menu-button:nth-child(2) .flip-card-front {
    background-image: url("../img/pasta.jpg");
    background-size: cover;
    position: relative;
}
#menu .menu-button:nth-child(3) .flip-card-front {
    background-image: url("../img/salad.jpg");
    background-size: cover;
    position: relative;
}
#menu .flip-card-front .flip-card-heading {
    font-size: 3rem;
    width: 70%;
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: 20px;
    transform: translateX(-50%);
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.4);
}
#menu .flip-card:hover .flip-card-inner {
    transform: scale(.95);
}
/* End Menu */

/* =================================================================== */

/* Modal */
.modal-pizza, .modal-pasta, .modal-salad {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 50px;
    max-width: 1200px;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}   
.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    border: 1px solid #888;
    width: 85%;
    height: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}
.modal-content hr {
    width: 80%;
    margin: 0 auto;
}
.close {
    display: block;
    color: #aaa;
    top: 1rem;
    right: 2rem;
    font-size: 2.8rem;
    font-weight: 500;
    font-size: 4rem;
    margin: 0 auto;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.pizza-item {
    flex-direction: row;
    text-align: left;
    height: auto;
    margin: 5px 50px;
    /* border: 1px solid black; */
    position: relative;
}
.pizza-item h1 {
    font-size: 1.5rem;
    font-weight: 600;
}
.pizza-item h1::first-letter {
    color: crimson;
    font-size: 1.6rem;
}
.pizza-item p {
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 1.1rem;
}
.pizza-item .price {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(-50%, -50%);    
    font-size: 1.3rem;
}
/* End Modal */

/* =================================================================== */

/* About */
#about {
    min-height: 100vh;
    margin: 10px 0;
}
#about .about{
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
    position: relative;
}
#about .about video {
    width: 100vw; 
    height: 100vh;
    object-fit: cover;
    position: absolute;
    /* overflow: hidden; */
    left: 0px;
    top: 0px;
    z-index: -1;
}
#about .about-info {
    background-color: rgba(255, 255, 255, 0.582);
    width: 75%;
    object-fit: cover;
    position: relative;
    padding: 30px
}
#about .about-info::after {
    content: '';
    position: absolute;
    width: 98%;
    height: 98%;
    top: 19px;
    left: -33px;
    overflow: hidden;
    border-left: 7px solid crimson;
    border-bottom: 7px solid crimson;
    z-index: -1;
}
#about .about-info::before {
    content: '';
    position: absolute;
    width: 98%;
    height: 98%;
    top: -19px;
    left: 33px;
    overflow: hidden;
    border-top: 7px solid crimson;
    border-right: 7px solid crimson;
    z-index: -1;
}
#about .about:hover .about-info::after{
    animation: 1s ease moveInBottom;
}
#about .about:hover .about-info::before{
    animation: 1s ease moveInTop;
}
#about .about-info h2 {
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
    letter-spacing: .3rem;
    padding-bottom: 10px;
}
#about .about-info p {
    font-size: 1.7rem;
    text-align: justify;
}
/* End About */

/* =================================================================== */

/* Contacts */
#contacts {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    margin-top: 5rem;
    transition: .3s ease all;
}
#contacts .contacts {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 3rem;
    min-width: 20vh;
}
#contacts .contacts-header {
    margin: 2rem 0;
}
#contacts .contacts-title {
    font-size: 4rem;
    margin: 0 5rem;
    letter-spacing: .5rem;
}
#contacts .contacts-header span {
    color: crimson;
}
#contacts .contact-items {
    width: 400px;
}
#contacts .contact-item {
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 18px 0 #0000002c;
    transition: .3s ease box-shadow;
    margin: 0 auto;
    margin-bottom: 30px;
}
#contacts .contact-item:hover {
    box-shadow: 0px 0px 5px 0 #0000002c;
}
#contacts .icon {
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}
#contacts .contact-info h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}
#contacts .contact-info h2 {
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
}
/* End Contacts */

/* =================================================================== */

/* Footer */
#footer {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    position: relative;
}
#footer .footer {
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}
#footer .back-to-top {
    width: 7rem;
    height: 7rem;
    margin-top: 1rem;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    position: absolute;
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}

#footer .back-to-top i {
    display: block;
    color: #fff;
    font-size: 2rem;
    text-align: center;
    margin-top: 45%;
    transform: translateY(-50%);
    /* transform: translate(-50%, -50%) */
    /* animation: up 2s infinite; */
}
#footer h1 {
    color: #fff;
}
#footer h1 span {
    color: crimson;
}
#footer h2 {
    color: #fff;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
#footer .social-icon {
    display: flex;
    margin-bottom: 30px;
}
#footer .social-item {
    height: 50px;
    width: 50px;
    margin: 0 5px;
}
#footer .social-item img {
    filter: grayscale(1);
    transition: .3s ease filter;
}
#footer .social-item img:hover {
    filter: grayscale(0);
}
#footer p {
    color: #fff;
    font-size: 1.3rem;
}
/* End Footer */

/* =================================================================== */

/* Keyframes */
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-150px);
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(150px);
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-150px);
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes spin-1 {
	0% {transform: rotate(360deg); opacity: 1;}
	50% {transform: rotate(180deg); opacity: 0.5;}
	100% {transform: rotate(0deg); opacity: 1;}
}
@keyframes spin-2 {
	0% {transform: rotate(0deg); opacity: 0.5;}
	50% {transform: rotate(180deg); opacity: 1;}
	100% {transform: rotate(360deg); opacity: 0.5;}
}
/* End Keyframes */

/* =================================================================== */

/* Media Queries */
/* Phone */
@media only screen and (max-width: 400px) {
    .section-title {
        font-size: 2.8rem;
        letter-spacing: .5rem;
    }
    .section-title span {
        color: crimson;
        font-size: 2.8rem;
    }
    /* Hero */
    #hero .hero-info-underline {
        max-width: 90%;
        text-align: left;
        margin: 1rem 0;
    }
    #hero .hero-info-heading {
        font-size: 2.8rem;
    }
    #hero .hero-info-subheading {
        font-size: 1.6rem;
        margin-top: 1rem;
    }
    /* Menu */
    #menu .menu-header-subheading {
        font-size: 1.6rem;
        text-align: center;
        font-weight: 500;
        letter-spacing: .4rem;
    }
}
/* End Phone */
/* TABLET */
@media only screen and (min-width: 768px) {
    /* Header */
    #header .brand h1 {
        font-size: 2.8rem;
    }
    #header .brand h1 span{
        font-size: 2.9rem;
    }
    /* Hero */
    #hero .hero-info {
        position: relative;
    }
    /* Menu */
    #menu {
        height: 600px;
        min-height: 100vh;
    }
    #menu .menu-info .menu-button {
        margin: 0 10px;
        width: 60%;
    }
    /* Modal */
    .modal-content hr {
        width: 90%;
        margin: 0 auto;
    }
    /* About */
    #about .about video {
        max-width: 1200px;
    }
    /* End About */
    /* Contacts */
    #contacts {
        height: 600px;
        min-height: 600px;
    }
    #contacts .container {
        min-height: 600px;
    }
    #contacts .contact-items {
        display: flex;
        width: 100%;
    }
    #contacts .contact-item {
        min-height: 180px;
    }
}
/* End TAblet */


/* Desktop */
@media only screen and (min-width: 1200px) {
    /* Header */
    #header .hamburger {
        display: none;
    }
    #header .nav-list ul {
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }
    #header .nav-list ul li {
        display: inline-block;
    }
    #header .nav-list ul li a {
        font-size: 1.8rem;
    }
    #header .nav-list ul a::after {
        display: none;
    }
    /* Menu */

    #menu .container {
        min-height: 100%;
    }
    #menu .menu-info {
        flex-direction: row;
        width: 100%
    }
    #menu .menu-info .menu-button {
        margin: 0 10px;
        width: 33%;
        height: 45rem;
    }
    #menu .flip-card {
        height: 300px;
    }
    #menu .flip-card:hover .flip-card-inner {
        transform: scale(.95);
    }
    /* Contacts */
    #contacts .contact {
        flex-direction: column;
        padding:100px 0;
    }
}
/* End Desktop */
/* =================================================================== */
